name: Codecov
on: push
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install modules
      run: |
        npm i
        npm test
    - name: Generate coverage report
      run: |
        npx nyc report --reporter=text-lcov > coverage.lcov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.lcov # optional
        flags: unittests # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
    
